<!-- help -->
<details class="help-panel" role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="summary">Do you need help?</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
        <p>You can call or email us if you're having problems with this service.</p>
        <p>Phone: 0300 303 0648 (Monday to Friday, 9:30am to 5pm)</p>
        <p>Email: <a href="mailto:contactprobate@justice.gov.uk">contactprobate@justice.gov.uk</a></p>
    </div>
</details>
<!-- end help -->
