 {% extends "layout_no_sign_out.html" %}

{% block page_title %}
Apply for probate
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/start-page">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <h1 class="form-title heading-large">Sorry, there is a problem with the service</h1>

    <p class="text">Try again later.</p>
    <p class="text">If you started an application, we saved your answers. Sign in to your account when the service is available to continue your application.</p>
    <p class="text">You can also <a href="https://www.gov.uk/wills-probate-inheritance/applying-for-a-grant-of-representation">apply for probate by post</a>.</p>
    <p class="text">Contact us if you have any questions.</p>

    <p class="text">Telephone:
      <br>
      <span class="bold">0300 303 0648</span>
      <br>
    <p class="text">Opening hours:
      <br>
      <span class="bold">Monday to Friday, 9:30am to 5pm</span>
      </p>

    <p class="text">Email:
    <br>
    <span class="bold">  <a href="contactprobate@justice.gov.uk">contactprobate@justice.gov.uk</a> </span></p>


    <!-- <p><a href="start-page-2" class="button">Continue</a></p> -->


</main>


{% endblock %}
